*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 40px;
}


.left-section h2 span{
    font-size:14px ;
    color: #FF4500;
}

.right-section{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon{
    display: none;
}

.right-section p{
    font-size: 17px;
}

.right-section img{
    width: 5%;
}

.below-nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.below-nav-section1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 115vh;
}

.below-nav-section1 h2{
    font-size: 44px;
    font-weight: lighter;
}

.below-nav-section1 h3, p{
    color: #868380;
}

.below-nav-section1 span img{
    width: 22%;
    border: 2px solid white;
}

.buy-btn-design{
    width: 18%;
    padding: 15px;
    font-size: 17px;
}

.below-nav-section2{
    width: 40%;
    padding-right: 55px;
}

.below-nav-section2 img{
    width: 100%;
    border: 1px solid white;
    height: 90vh;
}

.mid-part{
    background-color: white;
    color: black;
    padding: 70px;
}

.mid-part2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 30px; */
}

.mid-part2 h2{
    font-size: 65px;
    font-weight: lighter;
}

.mid-section1{
    width: 30%;
}

.mid-section1 img{
    width: 100%;
}

.mid-section2{
    width: 30%;
}

.mid-section2 img{
    width: 100%;
}

.mid-section3{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68vh;
}

.mid-section3 h3{
    font-size: 20px;
    font-weight: bold;
}

.mid-section3 p{
    color: black;
}

.btn1{
    width: 20%;
    background-color: #E5E5E5;
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
}

.mid-part-bg-picture{
   display: flex;
   background: url(./images/fogg-bg-cover.webp);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   gap: 10px;
   align-items: flex-end;
   height: 80vh;
}

.mid-part-bg-picture h2{
    width: 85%;
    color: white;
    text-align: end;
    margin-bottom: 10px;
}
.mid-part-bg-picture img{
    width: 3%;
    margin-bottom: 10px;
}

.chanel-perfume-section{
    background-color: #F6F1F1;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.chanel-image-part{
    width: 40%;
}

.chanel-image-part img{
    width: 90%;
    height: 50vh;
}

.chanel-text-part{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chanel-text-part h2, h3{
    font-size: 40px;
    color: black;
    font-weight: 500;
}

.chanel-text-part span p{
    font-size: 18px;
    background-color: white;
    margin-bottom: 24px;
    padding: 15px;
}

.instagram-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.instagram-part h2{
    margin-bottom: 40px;
    text-align: center;
}

.instagram-image-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn2{
    background-color: #D3B7B7;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
}

.pink-aqua-part{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px 100px;
    height: 55vh;
}

.pink-aqua-part img{
    width: 45%;
}

.pink-aqua-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pink-aqua-text h2{
    font-size: 40px;
    font-weight: 500;
}

.pink-aqua-text h3{
    font-size: 30px;
    color: #868380;
}

.btn3{
    width: 25%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    background-color: black;
    padding: 40px 0;
}

footer p{
    color: white;
}

.footer-text, .footer-btn{
    padding-left: 190px;
}

.footer-section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-section1, .footer-section2, .footer-section3, .footer-section4{
    width: 12%;
}

.footer-section p{
    font-size: 14px;
     margin-top: 20px;
}

.btn4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
}

.btn4 img{
    width: 7%;
}

@media (max-width:1779px) {
    .mid-section3{
        width: 33%;
    }
}

@media (max-width:1743px) {
    .footer-text, .footer-btn{
        padding-left: 180px;
    }
}

@media (max-width:1677px) {
    .mid-section3{
        height: 63vh;
    }
}

@media (max-width:1583px) {
    .mid-section3{
        height: 55vh;
    }
}

@media (max-width:1574px) {
    .chanel-text-part{
        width: 55%;
    }
}

@media (max-width:1519px) {
   .footer-text, .footer-btn{
        padding-left: 160px;
    }
}

@media (max-width:1461px) {
    .btn1{
        width: 25%;
    }
}

@media (max-width:1452px) {
    .pink-aqua-text{
        width: 50%;
    }
}

@media (max-width:1449px) {
    .chanel-text-part{
        width: 58%;
    }

    .chanel-text-part p{
        padding: 5px;
    }
}

@media (max-width:1410px) {
    .mid-section3{
        height: 50vh;
    }
}

@media (max-width:1385px) {
    .chanel-text-part span p{
        font-size: 16px;
    }
}

@media (max-width:1302px) {
    .mid-section3{
        height: 45vh;
        width: 35%;
    }

    .btn5{
        width: 20%;
    }
}

@media (max-width:1275px) {
   .footer-text, .footer-btn{
        padding-left: 140px;
    }
}



@media (max-width:1261px) {
    .instagram-image-section{
        padding: 0px 20px;
        gap: 20px;
    }
}

@media (max-width:1259px) {
    .chanel-text-part span p{
        font-size: 15px;
    }
}

@media (max-width:1225px) {
    .instagram-image-section{
        margin-right: 20px;
    }
}

@media (max-width:1214px) {
    .instagram-image-section{
        margin-right: 30px;
    }
}

@media (max-width:1200px) {
    .instagram-image-section{
        flex-direction: column;
        margin: 0;
    }
}

@media (max-width:1198px) {
    .below-nav-section1{
        /* height: 90vh; */
        width: 50%;
    }

    .below-nav-section2{
        width: 45%;
    }

    .chanel-text-part span p{
        font-size: 12px;
    }

    .chanel-text-part h2, h3{
        font-size: 30px;
    }
}


@media (max-width:1191px) {
    .btn5{
        width: 25%;
    }
}



@media (max-width:1182px) {
    .below-nav-section1 button{
        width: 20%;
    }
}

@media (max-width:1180px) {
    .mid-section3{
        height: 40vh;
    }
}

@media (max-width:1159px) {
    .btn3{
        width: 30%;
    }
}

@media (max-width:1152px) {
    .right-section img{
        width: 6%;
    }
}

@media (max-width:1136px) {
    .btn1{
        width: 30%;
    }
    .mid-section3{
        margin-left: 20px;
    }
}

@media (max-width:1519px) {
   .footer-text, .footer-btn{
        padding-left: 120px;
    }

    .footer-section3{
        width: 15%;
    }
}

@media (max-width:1125px) {
    .right-section{
        width: 35%;
    }
}

@media (max-width:1080px) {
    .mid-section3{
        height: 35vh;
    }
}

@media (max-width:1022px) {
   .footer-text, .footer-btn{
        padding-left: 100px;
    }

    .footer-section2{
        width: 15%;
    }
}

@media (max-width:1007px) {
    .chanel-text-part{
        width: 60%;
    }
    .chanel-image-part{
        width: 35%;
    }
    .chanel-text-part span p{
        padding: 5px;
    }
}

@media (max-width:998px) {
    .btn3{
        width: 40%;
    }
    .btn5{
        width: 35%;
    }
}

@media (max-width:970px) {
    .btn1{
        width: 35%;
    }

    .mid-section3{
        height: 30vh;
    }
}

@media (max-width:960px) {
    .right-section{
        width: 40%;
    }
}

@media (max-width:947px) {
    .chanel-text-part{
        width: 65%;
        margin-left: 20px;
    }
}

@media (max-width:1519px) {

   footer{
        align-items: center;
        height: auto;
   }
   
   .btn4{
        width: 100%;
   }

   .footer-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }

   .footer-section p{
    text-align: center;
   }

   .footer-section1, .footer-section2, .footer-section3, .footer-section4{
        width: 100%;
        margin-top: 40px;
   }

   .footer-text{
        margin-bottom: 60px;
        padding-left: 0;
   }

   .footer-btn{
        margin-top: 90px;
        padding-left: 0;
   }
}

@media (max-width:851px) {
    .btn1{
        width: 38%;
    }

    .mid-section3 h3{
        font-size: 16px;
    }

    .mid-section3 p{
        font-size: 12px;
    }
}

@media (max-width:850px) {
    .right-section{
        width: 45%;
    }
}

@media (max-width:836px) {
    .mid-part2{
        width: 100%;
        flex-direction: column;
    }
    
    .mid-part h2{
        width: 100%;
        text-align: center;
    }

    .mid-section1, .mid-section2, .mid-section3{
        width: 100%;
    }

    .mid-section2{
        margin-bottom: 30px;
    }

    .mid-section3{
        align-items: center;
    }

    .chanel-perfume-section{
        flex-direction: column;
        /* padding-right: 30px; */
    }

    .chanel-image-part{
        width: 100%;
        margin-bottom: 30px;
        margin-left: 30px;
        padding: 0;
        height: auto;
    }

    .chanel-text-part{
        width: 100%;
        align-items: center;
    }

    .chanel-text-part h2, h3{
        margin-bottom: 30px;
    }

    .chanel-text-part h2, h3{
        font-size: 35px;
    }

    .chanel-text-part span p{
        font-size: 16px;
    }

    .pink-aqua-part{
        flex-direction: column;
        height: auto;
    }

    .pink-aqua-part img{
        width: 100%;
    }

    .pink-aqua-text{
        width: 100%;
        align-items: center;
        margin-top: 30px;
        gap: 20px;
    }

    .btn3{
        width: 100%;
        margin-bottom: 20px;
    }

    .btn5{
        width: 100%;
    }



}


@media (max-width:1071px) {
    .below-nav-section1 button{
        width: 24%;
    }
}

@media (max-width:906px) {
    .below-nav-section1 button{
        width: 28%;
    }
}

@media (max-width:850px) {
    .below-nav-section2{
        width: 45%;
    }
}

@media (max-width:788px) {
    .below-nav-section1 button{
        width: 30%;
    }

    .below-nav-section2{
        width: 48%;
        padding-right: 20px;
    }
}

@media (max-width:741px) {
    .right-section{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .below-nav{
        flex-direction: column;
        align-items: center;
    }

    .below-nav-section1{
        width: 100%;
        height: auto;
        align-items: center;
    }

    .below-nav-section1 span img{
        width: 49%;
        border: 2px solid white;
        gap: 20px;
    }

    .below-nav-section2{
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
    }
}

